<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner_content">
            <h2>Know when is the best time to engage with your audience
            </h2>
            <p> With OneSpot , send push notification/Email/SMS campaign at right_time to drive sales/subscriptions or
              activate your lost customers at almost no cost
            </p>
            <a class="banner_btn" href="http://panel.onespot.ai/register"> Get started for free
            </a>
            <!-- <a class="banner_btn2" href="#">Download</a> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="home_left_img">
            <img class="img-fluid" src="../../../assets/img/landing-page/main2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Work Area =================-->
<section class="work_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>How It works for you</h2>
      <p> We send a real-time signal the moment the user is highly active, thereby giving you a better open opportunity
      </p>
    </div>
    <div class="work_inner row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="work_item">
          <i class="lnr lnr-pointer-up"></i>

          <a href="#">
            <h4> Increase Open Rates</h4>
          </a>
          <p>Average open rate for android is 5%, with OneSpot we have received upto 13% (for emails and push
            notifications).
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="work_item">
          <i class="lnr lnr-layers"></i>
          <!-- <i  > <img src="../../../assets/img/landing-page/mirage-order-completed-small.png" alt=""></i> -->
          <a href="#">
            <h4> Push Right Content</h4>
          </a>
          <p>Get user live interest or intent and engage with the right content (coming soon)
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="work_item">
          <i class="lnr lnr-sun"></i>
          <!-- <i > <img src="../../../assets/img/landing-page/mirage-order-completed-small.png" alt=""></i> -->
          <a href="#">
            <h4> Use right Channel</h4>
          </a>
          <p>Should you use email, SMS or push notification or not bother the user at all? We have got the answers
            (coming soon)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Work Area =================-->

<!--================Made Life Area =================-->
<section class="made_life_area p_120 ">
  <div class="container">
    <div class="main_title">
      <h2>Features</h2>
      <p>Get the most out of your marketing channels. Try OneSpot today and find the best way to communicate with your
        audience. We are always adding new features to the product
      </p>
    </div>
    <div class="made_life_inner">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Easy to Integrate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Lower activation cost</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false"> Better Sales /Subscriptions</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row made_life_text">
            <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="left_side_text">
                <h3>Easy to Integrate</h3>
                <!-- <h6>We are here to listen from you deliver exellence</h6> -->
                <p> Easy API integration to receive signals from OneSpot.Check API Documents for more details</p>
                <a class="main_btn" href="http://panel.onespot.ai/register">Get Started Now</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="./../../../assets/img/landing-page/easy_to_intigrate.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row made_life_text">
            <div class="col-lg-6">
              <div class="left_side_text">
                <h3> Lower activation cost</h3>
                <!-- <h6>We are here to listen from you deliver exellence</h6> -->
                <p>Activate your lost users at a lower cost. A great alternative to re targeting acquired in-active
                  users. </p>
                <a class="main_btn" href="http://panel.onespot.ai/register">Get Started Now</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="./../../../assets/img/landing-page/low_activation_cost.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row made_life_text">
            <div class="col-lg-6">
              <div class="left_side_text">
                <h3>Better Sales /Subscriptions</h3>
                <!-- <h6>We are here to listen from you deliver exellence</h6> -->
                <p>With increased open rates through native communication channels you, you enjoy higher sales
                  /subscriptions opportunity </p>
                <a class="main_btn" href="http://panel.onespot.ai/register">Get Started Now</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="chart_img">
                <img class="img-fluid" src="./../../../assets/img/landing-page/busy_sell.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="edge" role="tabpanel" aria-labelledby="edge-tab">
      <div class="row made_life_text">
        <div class="col-lg-6">
          <div class="left_side_text">
            <h3>We’ve made a life <br />that will change you</h3>
            <h6>We are here to listen from you deliver exellence</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            <a class="main_btn" href="#">Get Started Now</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="chart_img">
            <img class="img-fluid" src="./../../../assets/img/chart.jpg" alt="">
          </div>
        </div>
      </div>
    </div> -->
      </div>
    </div>
  </div>
</section>
<!--================End Made Life Area =================-->

<!--================Screen Area =================-->
<!-- <section class="screen_area text-center p_120">
  <div class="container">
    <div class="main_title">
      <h2>Unique Screens that work perfectly</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
    <img class="img-fluid" src="./../../../assets/img/banner/home-left-1.png" alt="">
  </div>
</section> -->
<!--================End Screen Area =================-->

<!--================Made Life Area =================-->
<!-- <section class="made_life_area p_120">
  <div class="container">
    <div class="made_life_inner">
  <div class="row made_life_text">
    <div class="col-lg-6">
      <div class="left_side_text">
        <h3>We’ve made a life <br />that will change you</h3>
        <h6>We are here to listen from you deliver exellence</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        <a class="main_btn" href="#">Get Started Now</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="chart_img">
        <img class="img-fluid" src="./../../../assets/img/browser.png" alt="">
      </div>
    </div>
  </div>
    </div>
  </div>
</section> -->
<!--================End Made Life Area =================-->

<!--================Price Area =================-->
<section class="price_area p_120 ">
  <div class="container">
    <div class="main_title">
      <h2>PRICING</h2>
      <p>Pricing that agrees with your plan and scales as per your need
      </p>
    </div>
    <div class="price_inner row">

      <div class="col-lg-4">
        <div class=" spcial_price_item">
          <div class="price_head">
            <h4>Real Standard</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">5 M signals per Month</a></li>

            </ul>
          </div>
          <div class="price_footer ">
            <h3><span class="dlr">$</span> 69 <span class="month">Per <br />Month</span></h3>
            <a class="main_btn" href="">Coming soon</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="price_item ">
          <div class="price_head">
            <h4>Basic</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a class="p-5">1 M signals per Month</a></li>
              <!-- <li><a href="#">Secure Online Transfer</a></li>
                <li><a href="#">Unlimited Styles</a></li>
                <li><a href="#">Customer Service</a></li> -->
            </ul>
          </div>
          <div class="price_footer">
            <h3><span class="dlr">$</span> 0 <span class="month">Per <br />Month</span></h3>
            <a class="main_btn" href="http://panel.onespot.ai/register">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class=" spcial_price_item">
          <div class="price_head">
            <h4>Real Ultimate</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="">10 M signals per Month</a></li>

            </ul>
          </div>
          <div class="price_footer  ">
            <h3><span class="dlr">$</span><span> 99</span> <span class="month">Per <br />Month</span></h3>
            <a class="main_btn" href="">Coming soon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Price Area =================-->

<!--================Testimonials Area =================-->
<!-- <section class="testimonials_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Feedback from Customers</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
    <div class="testi_slider owl-carousel  ">
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-1.png" alt="no ing">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-2.png" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-1.png" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-2.png" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-1.png" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="item">
        <div class="testi_item">
      <div class="media">
        <div class="d-flex">
          <img src="./../../../assets/img/testimonials/testi-2.png" alt="">
        </div>
        <div class="media-body">
          <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
          <h4>Mark Alviro Wiens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
 
  </div>
</section> -->
<!--================End Testimonials Area =================-->

<!--================Made Life Area =================-->
<!-- <section class="made_life_area made_white p_120">
  <div class="container">
    <div class="made_life_inner">
  <div class="row made_life_text">
    <div class="col-lg-6">
      <div class="chart_img">
        <img class="img-fluid" src="./../../../assets/img/banner/home-left-1.png" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="left_side_text">
        <h3>We’ve made a life <br />that will change you</h3>
        <h6>We are here to listen from you deliver exellence</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        <a class="main_btn" href="#">Get Started Now</a>
      </div>
    </div>
  </div>
    </div>
  </div>
</section> -->
<!--================End Made Life Area =================-->

<!--================Impress Area =================-->
<section class="impress_area p_120">
  <div class="container">
    <div class="impress_inner">
      <h2>Interested? </h2>
      <p>Connect with us for any queries </p>
      <a class="banner_btn2" href="#">Contact us</a>
    </div>
  </div>
</section>
<!--================End Impress Area =================-->